* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.site-header {
    width: 1800px;
    height: 65px;
    background-color: #282828;
    position: relative;

}

.logo-image {
    display: block;
    align-items: center;

}
.site-header__list{
    display: flex;
}

.site-header__item {}

.site-header__item {
    position: absolute;
    color: white;
    padding: 5px;
    width: 100%;
    text-align: center;
    display: flex;
}

.container_site-header__content {
    align-items: center;
}